---
interface Props {
	title: string;
	stop?: string;
}

const { title, stop } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="eBongo" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content="eBongo" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="The archive for Bongo" />
		<meta property="og:image" content="https://www.ebongo.org" />
		<meta name="generator" content={Astro.generator} />
		{stop && (
			<meta name="robots" content="noindex,nofollow"></meta>
      <meta http-equiv="refresh" content={`10;URL='https://icareatransit.org/stop/${stop}'`}/>
		)}
		<title>{title} eBongo</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap" rel="stylesheet">
	</head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-2MFJL0EE5L"></script>
	<script // @ts-ignore>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-2MFJL0EE5L');
	</script>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--darkGrey: rgb(39, 39, 42);
		--white: rgb(250, 250, 250);
		--bongoGreen: rgb(21, 128, 61);
		--bongoLightGreen: rgb(187, 247, 208);
	}
	body {
		font-family: 'Noto Sans', sans-serif;
		background-color: var(--darkGrey);
	}
	.container {
		max-width: 1024px;
		margin: 0 auto;
		padding: 0px 10px;
		background-color: var(--white);
	}
</style>